TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_GROUP_CHAT_ID=your_telegram_group_chat_id_here
GOOGLE_SERVICE_ACCOUNT_PATH=/root/chitra-automations/credentials/service_account.json
CALENDAR_ID=family_calendar_email@gmail.com
CLAUDE_API_KEY=your_anthropic_api_key_here
